{
  "extends": "airbnb/base",
  "env": {
    "mocha": true
  },
  "global": {
    "window": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "semi": [0]
  },
  "plugins": [
    "react"
  ]
}
